language: php

matrix:
    include:
        - php: 5.2
        - php: 5.3
        - php: 5.4
        - php: 5.5
        - php: 5.6
        - php: hhvm
        - php: hhvm-nightly
    allow_failures:
        - php: 5.2
        - php: hhvm
        - php: hhvm-nightly
    fast_finish: true

before_script:
   - composer install

script:
  - php ./vendor/bin/phpunit
  - php -d zend.enable_gc=0 ./vendor/bin/php-cs-fixer fix -v --dry-run